<div class="login-container">
    <h2>Iniciar sesión</h2>
    <form (ngSubmit)="onLoginSubmit()">
        <div class="form-group">
        <label for="email">Correo electrónico</label>
        <input type="email" id="email" name="email" [(ngModel)]="user.email" required>
        </div>
        <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" id="password" name="password" [(ngModel)]="user.password" required>
        </div>
        <button type="submit">Iniciar sesión</button>
    </form>
</div>